<%- include('../partials/header') %>
       
      <h1><%=title%></h1>

    <img class="aboutpic" src="views/images/about_two.jpg" alt="Picture of     
     myself" style="width:200px;height:350px;">
    
      <p>Hello everyone, my name is Cristian Reyes Chavez. I am a student at Seattle Central College and the track I am currently pursuing is application development.

A strength of mine includes, but is not limited to, an ability to communicate with individuals from a variety of backgrounds. AS such, I am passionate about being part of a team setting and finding new ways to connect with people.

My main goal is to become better organized and master time management regarding my work and personal life. At the moment, I am an emerging professional working on becoming a software developer and hope to use this academic opportunity to expand my knowledge.

I have a professional passion for learning about how software development functions as well as a personal interest in car mechanics. On friday nights, I enjoy playing soccer with friends and during Sunday league. During my free time, I love exploring the city with my partner and dog, going on walks, and playing video games.</p>

   
      
 <%- include('../partials/footer') %>