 <%- include('../partials/header') %>


  <h1><%=title%></h1>
  <style>
    .social-icon__item {
      font-size:50px;
    }
    
  </style>
         <img class="contactpic" src="views/images/contact.jpg" alt="Contact me picture" style="width:500px;height:350px;">
  
      <p class="contacttext">On this page, you can contact me through Git Hub<br> and LinkedIn. I would greatly appreciate the opportunity to connect. It's truly wonderful to be able to reach out and establish a connection!</p>    
<ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="https://github.com/Cristian1225" >
                <ion-icon name="logo-github"></ion-icon>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/cristian-reyes-ch%C3%A1vez-4b47481a9/">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
        </ul>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<%- include('../partials/footer') %>

