<%- include('../partials/header') %>

  <h1><%=title%></h1>

  <img class="homepic" src="views/images/index.jpg" alt="Picture of EJS" style="width:500px;height:350px;">
  
  <p>This Web page was built using Node.js, Express.js, and EJS templates" highlights the technologies and tools that were used to create a web application or website. </p>  
  
<%- include('../partials/footer') %>


