  <%- include('../partials/header') %>
       
      <h1><%=title%></h1>
 
    <p>On this page,Welcome to my Projects Showcase! Here,I proudly present a diverse collection of projects that embody my creativity, dedication, and innovation. Explore the project to get inspired and join me on my journey of creativity and innovation.  </p>

     <img class="homepic" src="views/images/project.png" alt="projects" style="width:600px;height:350px;">
 <%- include('../partials/footer') %>